// 버튼 시작 ----------------------------------------------------------------- /
.button {
  &None {
    padding: 0;
    background: transparent;
    border: 0;
  }
}
// 버튼 종료 ----------------------------------------------------------------- /
